body {
  margin: 25px;
  background-color: #999cb8;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

h1 {
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	color: #efefef;
	background-color: #9ACA42;
	margin: 2px 0px 20px 0px;
	padding: 5px;
	border-bottom: 2px solid #4D8353;
}

/* Especificar la etiqueta h1 que va justo despues de una etiqueta header */

header h1:hover {
	background-color: white;
	color: black;
}

/* Especificar la etiqueta h1 que va justo despues de una etiqueta section */
section h1:hover {
	background-color: red;
}


/* Creamos una clase especifica y personal, por ejemplo llamada "apple1" */
/*IMPORTANTE añadir la propiedad "class" a la etique del archivo html para que coja estas propiedades de apple1 */

.apple1:hover {
	font-family: Helvetica;
	font-size: 30px;
	font-weight: Bold;
	color: gray;
}

footer {
  font-family: arial, sans-serif;
  font-size: 14px;

}

/* Aplicamos el aumento de tamaño de letra a la etiqueta H3 */
h3:hover {
	font-size: 18px;
}


h4{
	
    font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	color: #efefef;
	background-color: red;
	margin: 2px 0px 20px 0px;
	padding: 5px;
	border-bottom: 2px solid #4D8353;
	
}	

img {
    border: 1px solid #ddd;
    border-radius: 4px; /* opción de porcentajes */
    padding: 5px;
    width: 400px;
}
