body {
	
    background-image: url("cube.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

.reto {
	position: relative;
	float: right;
	margin: 10px 45px 45px;
}

h3 {
font-size: 30px;
color: white;

}

a {
	color: white;
}