form fieldset {
	float: left;
	width: 50%;
	background: -webkit-linear-gradient(top, #F61, #FFF);
	background: -moz-linear-gradient(top, #F61, #FFF);
	background: -ms-linear-gradient(top, #F61, #FFF);
	background: -o-linear-gradient(top, #F61, #FFF);
	box-shadow: 1px 1px 5px;
	border-radius: 3px;
}

input:focus {
	border: 2px solid red;
	background: silver;
	box-shadow: 2px 2px 6px;
	border-radius: 3px;
	}
	
	

label {
	display: block;
	margin: 5pt;
	text-shadow: 1px 1px 1px #FFF;
	font-family: Verdana;
	font-size: 15pt;
	}
.btn {
	display: block;
	box-shadow: 1px 1px 5px;
	}
.btn:hover {
	opacity: 85;
	color: red;
	}
	
